ImageFileFormat/image5.txt
ImageFileFormat/image6.txt
ImageFileFormat/positions.txt
ImageFileFormat/image7.txt
ImageFileFormat/image9.txt
ImageFileFormat/image10.txt
ImageFileFormat/imagewithmeta.txt
*__pycache__
*.pyc